build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# ignore the executable files
concurrent_output
independent_output
concurrent_output2
concurrent_output2.cpp
concurrent_output3.cpp
running_experiments.md
experiment_results.csv
partitioning_performance.pngconcurrent_results3.csv
concurrent_results2.csv
concurrent_results4.csv
concurrent_output_backup.cpp
concurrent_output2.cpp
concurrent_output_affinity
.vscode/

no_affinity_results_local/

affinity_results_local