build/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake

# ignore the executable files
concurrent_output
independent_output
concurrent_output2
concurrent_output2.cpp
concurrent_output3.cpp
running_experiments.md


.vscode/*